<div class="container">
<table border>
  <% @offices.each do |std| %>
    <tr>
    <td><%= link_to std.name, office_path(std)  %></td>
    <td><%= button_to  'Edit', edit_office_path(std), method: 'get' %></td>
    <td><%= button_to  'Remove', office_path(std), method: 'delete', data: {confirm: 'Are you sure'} %></td>
    </tr>
  <% end %>
    <%= link_to "Add New", new_office_path %>
</table>
</div>