
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student|%>
      <tr>
        <th scope="row">1</th>
        <td><%= student.name%></td>
        <td><%=  link_to "Edit",  edit_student_path(student.id)%></td>
        <td><%=  link_to "Show", student_path(student.id)%></td>
        <td><%=  link_to  'Delete', student_path(student), method: 'delete' %></td>
    <% end%>
  </tbody>
</table>