<h1>Students</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Father Name</th>
      <th scope="col">Phone_no</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @student.name %></td>
      <td><%= @student.father_name %></td>
      <td><%= @student.phone_no %></td>
      <td><%= @student.email %></td>
    </tr>
  </tbody>
</table>