<h1>Shopes</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td><%= @bill.product %></td>
      <td><%= @bill.price %></td>
      <td><%= @bill.total %></td>
    </tr>
  </tbody>
</table>