<h1>Products</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Weight</th>
      <th scope="col">Order_code</th>
      <th scope="col">Item_type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td><%= @product.weight %></td>
      <td><%= @product.order_code %></td>
      <td><%= @product.item_type %></td>
    </tr>
  </tbody>
</table>