<h1> Sign_Up</h1>
<form> 
<div>
    <label>Fisrt Name</lable>
      <input type="text" name="fname" placeholder="Fname">
    <lable>Last Name</label>
        <input type="text" name="lname" placeholder="Lname">
</div>
<br>
<div>
    <lable>Email</lable>
        <input type="email" name="email" placeholder="email">
</div>
<br>
<div>
    <lable>Contact no.</lable>
        <input type="number" name="phone" placeholder="034.......">
</div>
<br>
<div>
    <label>Date</label>
        <input type="date" name="date">
</div>
<br>
<div>
    <label>Are you 18+</label>
        <input type="checkbox">
</div>
<br>
<div>
    <label>Gender: Male</label>
        <input type="radio" name="box">
    <label>Female</label>
        <input type="radio" name="box">
</div>
<br>
<div class="form-check form-switch"> 
    <label>Auto Save</label>
    <input type="checkbox" class="form-check-input">
    </div>
</form>