<h1>Shopes</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product_name</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td><%= @shope.product_name %></td>
      <td><%= @shope.size %></td>
      <td><%= @shope.price %></td>
    </tr>
  </tbody>
</table>